

.btn {
	width: 90px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin: 3px;
	text-transform: uppercase;
	font-size: 27px;
	cursor: pointer;
    border: 0;
    padding: 0;
   


}

.btn:focus{
	 outline: none;
}

#decimal {
	width: 90px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-left: 4px;
	margin-top: 4px;
	text-transform: uppercase;
	font-size: 27px;
    padding: 0;
	cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;


}
.eq {
	width: 90px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-left: 4px;
	margin-top: 4px;
	text-transform: uppercase;
	font-size: 27px;
    padding: 0;
	cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;



}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#op {
	 border: 0;
    padding: 0;
    outline: none;
}
#op:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.eq:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.eq {
	width: 90px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-left: 4px;
	margin-top: 4px;
	text-transform: uppercase;
	font-size: 27px;
    padding: 0;
	cursor: pointer;

}
.zero {
	width: 185px;
	height: 50px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-left: 4px;
	margin-top: 4px;
	text-transform: uppercase;
	font-size: 27px;
    padding: 0;
	cursor: pointer;

}


#c:hover {
background: #FF0000;

}

.eq:hover {
background: #777;

}

#decimal:hover {
background: #77b900;

}
#ce:hover {
background: #FF0000;

}
#number:hover{
	background: #005999;
}
#op:hover{

	background: #9CD;
}


body {
	background-image: url(1.jpg);
	background-size: cover;
}



.draggable {
padding-bottom: 3px;
max-width: 400px;
max-height: 365px;
background-color: #fff;
margin: 10px;
border: 2px solid #000;
border-radius: 5px;
position: absolute;
opacity: 0.9;
filter: alpha(opacity=50); /* For IE8 and earlier */
float: right;
}

.calc-display {
width: 100%;
height: 100%;
background-color: #000;
border: none;
color: #66f657;
text-align: right;
font-size: 54px;
padding-right: 5px;



}

@media(min-width: 0px) and (max-width: 479px) {
  

    .calc-display {
	width: 298px;
    height: 60px;
	background-color: #000;
	border: none;
	color: #66f657;
	text-align: right;
	font-size: 40px;
	padding-right: 4px;



}
     .draggable {
     	margin: 0px;
        width: 300px;
        height: 400px;
     }
	
	.btn {
    width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
	cursor: pointer;
    border: 0;
    padding: 0;

	}

	.zero {
	width: 132px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;

}



.eq {
	width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
    margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;

}

#decimal {
	width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;


}
} 

@media(min-width: 480px) and (max-width: 767px) {
          .calc-display {
	width: 298px;
    height: 60px;
	background-color: #000;
	border: none;
	color: #66f657;
	text-align: right;
	font-size: 40px;
	padding-right: 4px;



}
     .draggable {
     	margin: 0px;
        width: 300px;
        height: 430px;
     }
	
	.btn {
    width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
	cursor: pointer;
    border: 0;
    padding: 0;

	}

	.zero {
	width: 132px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;

}



.eq {
	width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
    margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;

}

#decimal {
	width: 60px;
	height: 53px;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 9px;
	text-transform: uppercase;
	font-size: 28px;
    padding: 0;
	cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;


}
} 
     

} 

@media(min-width: 768px) and (max-width: 991px) {
      
     

} 

@media(min-width: 992px) and (max-width: 1199px) {
      
     

} 

}